<!-- <header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#" class="header-logo">FOREVER</a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#home" class="header-menu-link">Главная</a>
        </li>
        <li class="header-menu-item">
          <a href="#skills" class="header-menu-link">Телевизор</a>
        </li>
        <li class="header-menu-item">
          <a href="#code" class="header-menu-link">Ноутбук</a>
        </li>
        <li class="header-menu-item">
          <a href="#portfolio" class="header-menu-link">Телефон</a>
        </li>
        <li class="header-menu-item">
          <a href="#educations" class="header-menu-link">Войти</a>
        </li>
        <li class="header-menu-item">
          <a href="#languages" class="header-menu-link">Заказать</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->
<header>
  <div class="banner">
    <div class="navbar">
      <h1>Forever</h1>
      <div class="burger-menu">
        <a href="#" class="burger-menu_button">
          <span class="burger-menu_lines"></span>
        </a>
        <nav class="burger-menu_nav">
          <a href="#tv" class="burger-menu_link">Tелевизор</a>
          <a href="#camputer" class="burger-menu_link">Ноутбук</a>
          <a href="#fridge" class="burger-menu_link">Холодильник</a>
          <a href="#cleaning" class="burger-menu_link">Пылесос</a>
        </nav>
        <div class="burger-menu_overlay"></div>
      </div>
      <div>   
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#order">Заказать</a></li>
      </ul>
      </div>
  </header>

<!-- <div>
      <form class="subform">
        <p>
          <input type="search" name="q" placeholder="Я ищу..."> 
          <input type="submit" value="Найти">
          </p>
      </form>
    </div> -->
